<div class="d-flex justify-content-center m-2 mt-5 row">
    <div class="col-12 col-sm-4 mb-4">
        <div class="card">
            <div class="card-body p-4">
                <p [innerHTML]="sanitise(documents[1]?.OBJECTVALUE)"></p>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-4 mb-4">
        <div class="card">
            <div class="card-body p-4">
                <p [innerHTML]="sanitise(prepareHTMLWithLineBreaks(formatDataArray(parseJSON(documents[0]?.OBJECTVALUE))))"></p>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-4 mb-4">
        <div class="card">
            <div class="card-body p-4">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Old Text</th>
                            <th scope="col">New Text</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let arr of parseJSON(documents[0]?.OBJECTTRACKER)">
                            <td>{{truncateString(arr.oldtext)}}</td>
                            <td>{{truncateString(arr.newtext)}}</td>
                            <td >
                                <button class="btn btn-success m-1 btn-sm" (click)="decision(arr, 'accepted')">{{arr?.status == 'accepted' ? 'Accepted' : 'Accept'}}</button>
                                <button class="btn btn-danger m-1 btn-sm" (click)="decision(arr, 'rejected')">{{arr?.status == 'rejected' ? 'Rejected' : 'Reject'}}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>                
                <div class="text-center">
                    <button class="btn btn-primary" (click)="saveToSAP()">Save to SAP</button>
                </div>
            </div>
        </div>
    </div>
</div>